<div class="hero-unit">
	<h1>Welcome, Battlefield Goons</h1>
	<p>
		<%= link_to(image_tag('sits_large_border.png', alt: 'Sign in through Steam', title: 'Sign in through Steam', class: 'pull-right'), signin_path) %>
		Whitelist your Battlefield 4 soldier name and play on BFGoons servers!<br>
		Get started by signing in through Steam. (<a href='#SteamFAQModal' data-toggle='modal'>I'm not giving you anything</a>)
	</p>
</div>
<p># list servers here with battelog links</p>
<div id='SteamFAQModal' class="modal hide fade">
  <div class="modal-body">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <dl>
  		<dt>Why do I need a Steam account?</dt>
  		<dd>Rather than create a separate login for just this site, Steam <a href='http://openid.net/get-an-openid/individuals/' target='_blank'>OpenID</a> lets you securely use your Steam login instead. Websites that let you use your Facebook and Twitter accounts do the same thing.</dd>
      <dt>Why not use my Origin login?</dt>
      <dd>Origin does not allow OpenID logins.</dd>
  		<dt>What info does BFGoons get from Steam OpenID?</dt>
  		<dd>Your account's ID #. That's it.</dd>
      <dt>I still don't trust this.</dt>
  		<dd>You aren't required to use this site to play on BFGoons servers. If you know Ruby, <a href="https://github.com/RobFreiburger/BF4_Webcon/blob/develop/app/controllers/sessions_controller.rb" target="_blank">you can review the login code yourself.</a></dd>
		</dl>
  </div>
</div>