<div class="hero-unit">
	<h1>Welcome to BFGoons!</h1>
	<p>
		Whitelist your Battlefield 4 soldier name and play on BFGoons servers!<br>
		Get started by signing in through Steam.
	</p>
	<%= link_to(image_tag('sits_large_border.png', alt: 'Sign in through Steam', title: 'Sign in through Steam'), '/signin') %>
	<p># insert modal link here</p>
</div>
<p># list servers here with battelog links</p>