<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to('BFGoons', root_path, class: 'brand') %>
			<ul class='nav pull-right'>
				<li><%= link_to('Sign Out', signout_path, method: :delete) %></li>
			</ul>
		</div>
	</div>
</div>