<p>
	<table>
		<% params.each do |key, value| %>
			<tr>
				<td><%= key %></td>
				<td><%= value %></td>
			</tr>
		<%= end %>
	</table>
	<a href=""><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"></a>
</p>